img{
    width: 50%;
    border: 10px solid white;

}

html{
    background-color: black;
}

h1{
    font-size: 3rem;
}

div{
    font-family: Libre Baskerville, serif;
    text-align: center;
    background-color: black;
    color: aliceblue;
    margin: 50px;
}